:root {
  /* Base input & button */
  --input-btn-padding-y: 0.375rem;
  --input-btn-padding-x: 0.75rem;
  --input-btn-font-family: initial;
  --input-btn-font-size: var(--font-size-base);
  --input-btn-line-height: var(--line-height-base);

  /* Focus styles */
  --input-btn-focus-width: var(--focus-ring-width);
  --input-btn-focus-color-opacity: var(--focus-ring-opacity);
  --input-btn-focus-color: var(--focus-ring-color);
  --input-btn-focus-blur: var(--focus-ring-blur);
  --input-btn-focus-box-shadow: var(--focus-ring-box-shadow);

  /* Small size */
  --input-btn-padding-y-sm: 0.25rem;
  --input-btn-padding-x-sm: 0.5rem;
  --input-btn-font-size-sm: var(--font-size-sm);

  /* Large size */
  --input-btn-padding-y-lg: 0.5rem;
  --input-btn-padding-x-lg: 1rem;
  --input-btn-font-size-lg: var(--font-size-lg);

  /* Border */
  --input-btn-border-width: var(--border-width);
}
.input-btn {
  display: inline-block;
  width: 100%;
  padding: var(--input-btn-padding-y) var(--input-btn-padding-x);
  font-family: var(--input-btn-font-family);
  font-size: var(--input-btn-font-size);
  line-height: var(--input-btn-line-height);
  color: var(--color-body);
  background-color: var(--color-white);
  background-clip: padding-box;
  border: var(--input-btn-border-width) solid var(--color-border);
  border-radius: var(--border-radius);
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
